.root {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.hidden {
  width: 0;
  overflow: scroll;
  padding: 0;
  background-color: white;
  transition: all .25s;
  transition-delay: .15s;
}

.selectedMessage {
  width: 500px;
  overflow: scroll;
  padding: 1em;
  background-color: white;
  transition: all .25s;
  transition-delay: .15s;
}

.floatingButtonHide {
  margin-left: 3px;
  height: 36px;
}

.floatingButtonHide div {
  transform: rotateZ(0);
  transition: all .25s;
  line-height: 14px;
}

.floatingButtonShow {
  margin-left: 3px;
  height: 36px;
}

.floatingButtonShow div {
  transform: rotateZ(180deg);
  transition: all .25s;
  line-height: 14px;
}

.invisible,
.invisible:active,
.invisible:focus,
.invisible:hover {
  background-color: rgba(0,0,0,0.0);
  border-color: rgba(0,0,0,0.0);
  color: rgba(0,0,0,0.0);
  margin-left: 3px;
  height: 36px;
}

.invisible div,
.invisible:active div,
.invisible:focus div,
.invisible:hover div {
  transform: rotateZ(90deg);
  transition: all .25s;
  line-height: 14px;
}
