:local .root {
  display: flex;
  flex: 1;
  margin-left: 3px;
  margin-top: 4px;
}

/* hotkeys won't let us pass in classNames and has no class :-( */
:local .root > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

:local .main {
  display: flex;
  flex-direction:row;
  flex:1;
}

:local .heading {
  display: flex;
  flex-direction: row;
}
