.root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main {
  display: flex;
  flex-direction:row;
  flex:1;
}

.selectedMessage {
  width: 500px;
  overflow: scroll;
}

.heading {
  display: flex;
  flex-direction: row;
}
