.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: no-wrap;
  width: 350px;
  overflow: scroll;
}

.subHeader {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  padding: 5px 3px;
}

.filterSelect {
  margin-right: 3px;
}

.leftButton {
  margin-right: 3px;
}
