.root {
  background-color: #eee;
  margin: 5px;
}

.root.selected image {
  animation: pulse 0.5s;
}

@keyframes pulse {
  0%   { transform: scale(1); }
  50% { transform: scale(2); }
  100% { transform: scale(1); }
}
