.root {
  cursor: pointer;
}

.selected.nopause image {
  animation: pulse 0.5s;
  animation-iteration-count: 1;
}

.pause {
  opacity: 0.5;
  transition: opacity 0.5s;
}

.selected.pause {
  opacity: 1;
}

.selected.pause image {
  animation: pausedPulse 0.5s;
  animation-fill-mode: forwards;
}

@keyframes pulse {
  0%   { transform: scale(1); }
  50% { transform: scale(2); }
  100% { transform: scale(1); }
}


@keyframes pausedPulse {
  0%   { transform: scale(1); }
  100% { transform: scale(1.5); }
}
