.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  width: 100%;
  background: white;
  padding: 1em;
  cursor:pointer;
  min-height: 80px;
}

.header {
  display: flex;
  flex-direction: row;
}

.logo {
  display: flex;
  align-self: center;
  width: 32px;
  height: 32px;
}

.name {
  align-self: flex;
  padding-left: .5em;
  padding-top: .25em;
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  text-decoration: none;
}

.name:hover {
  /*border: 1px solid rgba(0,0,0,0.25);*/
}

.message {
  display:flex;
  justify-content: left;
  height: 100%;
}

.selected {
  border: 1px solid black;
}
